<ion-header>
  <ion-toolbar>
    <ion-title>Validar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Valida tu Contraseña</ion-card-title>
    </ion-card-header>
    <ion-card-content class="form-container">
      <form #passwordForm="ngForm" (ngSubmit)="validatePasswords()">
        <!-- Contraseña -->
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <p> </p>
          <ion-input
            type="password"
            [(ngModel)]="password"
            name="password"
            required
            minlength="6"
            placeholder="Ingresa tu contraseña"
          ></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="passwordForm.submitted && !password">
          La contraseña es requerida.
        </ion-text>
        <ion-text color="danger" *ngIf="passwordForm.submitted && password.length < 6">
          La contraseña debe tener al menos 6 caracteres.
        </ion-text>

        <!-- Confirmar Contraseña -->
        <ion-item>
          <ion-label position="floating">Confirmar Contraseña</ion-label>
          <p> </p>
          <ion-input
            type="password"
            [(ngModel)]="confirmPassword"
            name="confirmPassword"
            required
            placeholder="Confirma tu contraseña"
          ></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="passwordForm.submitted && !confirmPassword">
          La confirmación es requerida.
        </ion-text>

        <ion-text color="danger" *ngIf="passwordMismatch">
          Las contraseñas no coinciden.
        </ion-text>
        <p>La contraseña debe tener al menos 6 Caracteres. </p>
        <!-- Botón de Validar -->
        <ion-button expand="block" type="submit" [disabled]="passwordForm.invalid">
          Validar
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
